# Webhooks
WEBHOOK_RD="-snip-"
WEBHOOK_KZ="-snip-"

# Logos
FDEV_JNL_URL="http://hosting.zaonce.net/community/journal"
RD_LOGO_URL="https://api.canonn.tech/uploads/40bfc7d870e54925ad0f769e7b0b1f9a.png"

# User Mentions
USER_DMID="211722558385553408"
USER_KZID="264863927265918976"
USER_LCUID="298594247454490624"

# Cron Timers
CRON_JNL="0 0 */4 ? * *" # every 4 hours
CRON_NODEID=1

# Canonn API Login
CAPI_USER="canonnuser"
CAPI_PASS="canonnpass"